## For UI ---------------------------------------
# Specify port for react application 
PORT=3001

## PROXY URL ------------------------------------
# Make sure this url is pointing to the backend server URL. This is used by the UI to interact with backend (Eg : http://localhost:3000)
REACT_APP_PROXY_URL=

## FOR SEARCHING USER WITHIN THE ORGANIZATION
REACT_APP_LDAP_SEARCH_ENABLED=true

## APPLICATION VERSION ----------------------------
# This grabs the application version fron package.json to display on front end
REACT_APP_VERSION=$npm_package_version

## AZURE -------------------------------------------
# Uncomment and add the values only if the application is using Auth service for authentication. If Auth service is used for authentication leave as it is.
# REACT_APP_APP_AUTH_METHOD = azure_ad
# REACT_APP_AZURE_CLIENT_ID = 
# REACT_APP_AZURE_TENENT_ID = 
# REACT_APP_AZURE_REDIRECT_URI = 
# REACT_APP_AZURE_API_TOKEN_SCOPE=