.lzMonitoring__inactive-monitoring {
  background-color: var(--paused);
}

.lzMonitoring__active-monitoring {
  background-color: var(--active);
}

.lz__filter-label {
  font-weight: 500;
  padding-bottom: 5px;
}

.notification__filters_count {
  display: flex;
  justify-content: right;
  color: var(--primary);
  background: none;
  font-weight: 600;
}

.lzMonitoringTable__hidden_actions {
  display: flex;
  flex-direction: column;
  color: var(--primary);
  cursor: pointer;
}

.lzMonitoringTable__hidden_actions > * {
  padding: 5px;
}

.lzMonitoringTable__hidden_actions > *:hover {
  background-color: var(--secondary-light);
}

.icons {
  color: var(--primary);
  margin-right: 15px;
}
