NODE_ENV=development
PORT=3000
WEB_PORT=3001
WEB_EXPOSED_PORT=80
HOSTNAME=

DB_USERNAME=
DB_PASSWORD=
DB_PORT=3306
DB_NAME=tombolo
DB_HOSTNAME=mysql_db

#For authentication, Tombolo uses AuthService module, which needs to be setup separetly.
AUTH_SERVICE_URL=<protocol>://<host_name>:<port>/api/auth
AUTHSERVICE_TOMBOLO_CLIENT_ID=
secret=
#SSL certificate for the Web Application
CERT_PATH=
#used to show/hide AD Search in Collaborator module
REACT_APP_LDAP_SEARCH_ENABLED=false

#Optional Kafka and Zookeeper setup
#To create keys, please refer here https://github.com/edenhill/librdkafka/wiki/Using-SSL-with-librdkafka#create-a-ca-certificate
#For documentation on bitnami kafka and zookeeper docker images and setup, please refer https://github.com/bitnami/bitnami-docker-kafka, https://github.com/bitnami/bitnami-docker-zookeeper
#For details on SSL config https://github.com/bitnami/bitnami-docker-kafka/issues/129
KAFKA_PORT=9092
KAFKA_EXTERNAL_PORT=29092
KAFKA_MGR_PORT=9000
KAFKA_ADVERTISED_LISTENER=
ZK_PORT=2181
ZOO_SERVER_USERS=
ZOO_SERVER_PASSWORDS=
ZOO_CLIENT_USER=
ZOO_CLIENT_PASSWORD=
ZOO_TLS_CLIENT_KEYSTORE_FILE=/opt/bitnami/kafka/conf/certs/zookeeper.keystore.jks
ZOO_TLS_CLIENT_KEYSTORE_PASSWORD=
ZOO_TLS_CLIENT_TRUSTSTORE_FILE=/opt/bitnami/kafka/conf/certs/zookeeper.truststore.jks
ZOO_TLS_CLIENT_TRUSTSTORE_PASSWORD=
KAFKA_HOST_NAME=
KAFKA_CLIENT_USER=
KAFKA_CLIENT_PASSWORD=
KAFKA_CERTIFICATE_PASSWORD=