## ENVIRONMENT production|development
NODE_ENV=development

## HOST localhost|mydomain.com
HOST_HOSTNAME=

## BACKEND PORT
PORT=3000

## MYSQL SSL true|false
MYSQL_SSL_ENABLED=

## NGINX SSL -  relative path. Only edit below values if using SSL
CERT_PATH=/certs
CERTIFICATE_NAME=
CERTIFICATE_KEY=

HTTP_PORT=3001
HTTPS_PORT=443
# WEB_URL Ex: http://localhost:3001 | https://mydomain.com
WEB_URL=

## DATABASE DETAILS
DB_USERNAME=
DB_PASSWORD=
DB_PORT=3306
DB_NAME=tombolo
# For docker use mysql_db else provide host name
DB_HOSTNAME=

## APPLICATION AUTHENTICATION 
# For user authentication, you have 2 options - Authserive or Azure_ad. If you are using Auth service leave the Azure variable as they are and vice versa.
# For Authservice - provide Authservice URL, follow https://github.com/hpcc-systems/Auth-Service
# APP_AUTH_METHOD azure_ad|authservice
APP_AUTH_METHOD=

## AUTH_SERVICE_URL
# Ex: http://localhost:3003/api/auth
AUTH_SERVICE_URL=
# In Auth service it is refereed as Client Id. 
AUTHSERVICE_TOMBOLO_CLIENT_ID=

## AZURE
TENENT_ID=
CLIENT_ID=

## EMAIL                         
EMAIL_SMTP_HOST=
EMAIL_PORT=
EMAIL_SENDER=donotreply@tombolo.com

## Encryption key. run openssl - openssl rand -base64 32
ENCRYPTION_KEY = 

## RealBI - optional. Learn more - https://github.com/hpcc-systems/REAL-BI
REALBI_URL=

## KAFKA 
# To create keys, please refer here https://github.com/edenhill/librdkafka/wiki/Using-SSL-with-librdkafka#create-a-ca-certificate. 
# For documentation on bitnami kafka and zookeeper docker images and setup, please refer https://github.com/bitnami/bitnami-docker-kafka, https://github.com/bitnami/bitnami-docker-zookeeper, 
# For details on SSL config https://github.com/bitnami/bitnami-docker-kafka/issues/129 

KAFKA_PORT=
KAFKA_CLIENT_PORT=
KAFKA_EXTERNAL_PORT=
KAFKA_MGR_PORT=
KAFKA_ADVERTISED_LISTENER=
ZK_PORT=

ZOO_SERVER_USERS=
ZOO_SERVER_PASSWORDS=
# ZOO_CLIENT_USER=
ZOO_CLIENT_PASSWORD=
ZOO_TLS_CLIENT_KEYSTORE_FILE=
ZOO_TLS_CLIENT_KEYSTORE_PASSWORD=
ZOO_TLS_CLIENT_TRUSTSTORE_FILE=
ZOO_TLS_CLIENT_TRUSTSTORE_PASSWORD=
KAFKA_HOST_NAME=
KAFKA_CLIENT_USER=
KAFKA_CLIENT_PASSWORD=
KAFKA_CERTIFICATE_PASSWORD=
KAFKA_ZOOKEEPER_CERTS_PATH=

JOB_COMPLETE_TOPIC=
START_JOB_TOPIC=
JOB_COMPLETE_GROUP_ID=

