**/logs
**/node_modules
*.env
*/.env
**/.env.docker
**/.env.local
*.DS_Store
**/bower_components
**/build
**/mysql-data
**/vscode
**/server/scripts
sequelize-data.json
gitClones/**
!gitClones/.gitkeep
.prettierignore
docker-compose.yml
dev/
https/**
cert.pem
key.pem
tombolo_docs/.docusaurus/*
**/.idea
e2e_tests/test-results
e2e_tests/playwright-report
e2e_tests/state.json

# pnpm
.pnpm-debug.log*
.pnpm-store/
**/.turbo
**/dist