.clusterMonitoringTable__inactive-monitoring {
  background-color: var(--paused);
}

.clusterMonitoringTable__active-monitoring {
  background-color: var(--active);
}

.clusterMonitoringTable__hidden_actions > * {
  padding: 5px;
}

.clusterMonitoringTable__hidden_actions > *:hover {
  background-color: var(--secondary-light);
}

.clusterMonitoringTable__selected-row > .ant-table-cell {
  background-color: rgba(255, 255, 0, 0.1) !important;
}
