.clusters__details_tiny-description {
  margin-top: 30px;
}

.clusters__details_tiny-description * {
  padding: 2px 4px !important;
}

.clusters__details_tiny-description .ant-descriptions-item-label {
  width: 200px;
  font-weight: 500;
}

.clusters__label_link {
  color: var(--primary);
  font-weight: 600;
}
