.superFile-details-header {
  padding: 10px 18px;
  font-weight: bold;
  border: 1px solid whitesmoke;
}

.superFile-details {
  height: fit-content;
  padding: 10px 18px;
  border: 1px solid whitesmoke;
}

.small-form-item {
  width: calc(37.5% - 8px);
}

.emails-list {
  display: flex;
  place-items: center;
}