  .node {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #c2c8d5;
    border-radius: 4px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.06);
  }

  .node svg {
    width: 20px;
    height: 20px;
  }
  
  .node .label {
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    margin-left: 8px;
    color: rgb(49, 49, 49);
    font-size: 14px;
  }
  
  .node .status {
      display: flex;
      gap:4px;
  }

  .node .status  svg{
    width: 15px;
    height: 15px;
  }

  .stencil-node {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c2c8d5;
    border-radius: 4px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.06);
    padding: 5px;
    text-align: center;
  }

  .Job, .Manual {
  border-left: 5px solid #ddb661;
  }
  
  .File {
  border-left: 5px solid #84c3ee;
  }

  .Index {
  border-left: 5px solid #35991c;
  }

  .Sub-Process {
  border-left: 5px solid #d64b4e;
  }

  
 .node.completed, .node.compiled {
    border: 4px solid #3ecf09;
    /* border-left: 5px solid #ddb661; */
    border-radius: 2px;
    /* box-shadow: 0 0 0 4px #b9ceb1; */
  }
  
 .node.failed {
    border: 4px solid #ff4d4f;
    /* border-left: 5px solid #ddb661; */
    border-radius: 2px;
    /* box-shadow: 0 0 0 4px #fedcdc; */
  }
  .node.not-exist{
    border-color: #8f8f8f;
    border-radius: 2px;
    /* background-color: #e7e7e7; */
  }

/* .x6-node-selected .node {
    border-color: #1890ff;
    border-radius: 2px;
    box-shadow: 0 0 0 4px #d4e8fe;
  } 

   .x6-edge:hover path:nth-child(2){
    stroke: #1890ff;
    stroke-width: 1px;
  }
  
  .x6-edge-selected path:nth-child(2){
    stroke: #1890ff;
    stroke-width: 1.5px !important;
  }

  .node.running .status svg {
    animation: spin 1s linear infinite;
  }
   
  @keyframes running-line {
    to {
      stroke-dashoffset: -1000;
    }
  }
  @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
  */