.storageUsageHistoryCharts__main {
  text-align: center;
  margin-top: 20px;
}

.storageUsageHistoryCharts__heading {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

.storageUsageHistoryCharts__chartContainer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  padding: 20px;
}

.storageUsageHistoryCharts__box {
  width: 400px;
  height: 250px;
}

.storageUsageHistoryCharts__chartAndName {
  border: 1px solid #d3d3d3;
  flex: 1;
  padding: 10px;
  margin: 10px;
  max-width: 450px;
}

.storageUsageHistoryCharts__engineName {
  color: #808080;
  font-weight: 500;
  margin-top: 15px;
  display: flex;
  place-items: center;
  justify-content: center;
  padding: 5px 0px 5px 0px;
}

.storageUsageHistoryCharts__engineName__additionalText {
  font-size: 15px;
  color: var(--primary);
  font-weight: 400;
}

.storageUsageHistoryCharts__engineName__additionalText:hover {
  cursor: pointer;
}

.storageUsageHistoryCharts__viewMore {
  display: none;
  color: #808080;
  margin-left: 10px;
  font-size: 12px;
  color: var(--primary);
}

.storageUsageHistoryCharts__chartAndName:hover .storageUsageHistoryCharts__viewMore {
  display: block;
}

.storageUsageHistoryCharts__chartAndName:hover .storageUsageHistoryCharts__engineName {
  background: #f3efef;
}

/* ------------------------------------- model ---- */
.graphExpanded_main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphExpanded_content {
  position: relative;
  background-color: transparent;
}

.graphExpanded_resizableBox {
  border: 1px solid #808080;
  background-color: white;
}

.storageUsageHistoryCharts__engineName_scroll {
  color: var(--primary);
  text-decoration: underline;
}

/* ---------------------------------------------------- */
.currentClusterUsageCharts_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.currentClusterUsageCharts_container div:first-child {
  text-align: center;
}
.currentClusterUsageCharts_main {
  border: 1px solid lightGray;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 15px;
  min-height: 82vh;
}

.currentClusterUsageCharts_title {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

.currentClusterUsageCharts_clusterSelector {
  width: 200px;
  justify-content: space-around;
}

.currentClusterUsageCharts_empty {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.currentClusterUsageCharts_meterGauges_5orLess {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.currentClusterUsageCharts_meterGauges_5orMore {
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.currentClusterUsageCharts_meterGaugeBox {
  width: 300px;
}
