.costMonitoring__modal {
  width: 800;
}

/* Schedular Selector */

.schedule-selector {
  display: flex;
}

.selected-component {
  padding-left: 15px;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  border-left: 1px solid #dadada;
}

.modal-header {
  font-size: 14px;
}

.monitor-input {
  margin-top: 10px;
}

.modal-card-2 {
  margin-top: 5px;
}

.costMonitoringTable__inactive_monitoring {
  background-color: var(--paused);
}

.costMonitoringTable__active_monitoring {
  background-color: var(--active);
}

.costMonitoringTable__hidden_actions > * {
  padding: 5px;
}

.costMonitoringTable__hidden_actions > *:hover {
  background-color: var(--secondary-light);
}

.costMonitoringTable__selected_row > .ant-table-cell {
  background-color: rgba(255, 255, 0, 0.1) !important;
}

/* Filters ------------------------------------------------------------------ */

.notification__filters_count {
  display: flex;
  justify-content: right;
  color: var(--primary);
  background: none;
  font-weight: 600;
}
