.container {
  height: calc(100% + 5px);
  text-align: center;
  font-size: 1.5rem;
}

.container ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.container ul li {
  margin-bottom: 0.5rem;
}

.header {
  background: rgb(8, 85, 127);
  color: white;
  padding: 3rem;
  width: 100%;
}

div.header > h1 {
  width: 100%;
  margin-top: 1rem;
}

.innerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -5px;
  height: 100%;
}

.middle {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.middle > * {
  margin: 1rem;
}

.workflowCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.33%;
}

.customSteps .ant-steps-item-tail {
  display: none; /* Hide the tail line */
}

.customSteps .ant-steps-item-icon .ant-steps-icon {
  color: #2b6cb0;
  font-weight: bold;
}

.customSteps .ant-steps-item-title {
  color: #2b6cb0;
  font-size: 1rem;
}

.workflowCard,
.monitoringCard,
.dashboardCard {
  background: #f9fafb;
  width: 33.33%;
}

.footer {
  background: rgb(48, 56, 70);
  color: white;
  padding: 2rem;
}

.footerRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1rem;
}

.footerLogoContainer {
  display: flex;
  align-items: center;
}

.footerLogoContainer > a {
  margin: 0 auto;
}

.footerLogoContainer > a > img {
  width: 10rem;
  margin: 0 auto;
}

.footerRow a {
  color: white;
  text-decoration: none;
}

.footerRow p {
  font-size: 1rem;
}

.footerRow a:hover {
  border-bottom: 1px solid var(--light);
}

.footerRow a:focus {
  text-decoration: 1px solid var(--light);
}

.sub {
  width: 30%;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.sub h4 {
  font-weight: 800;
  font-size: 1.1rem;
}

.container .ant-card-head {
  background: #002140;
  color: white;
}

/* @media breakpoint for tablets */
@media (max-width: 1024px) {
  .container {
    height: auto;
  }

  .middle {
    margin-bottom: 3rem;
    flex-direction: column;
  }

  .middle .ant-card {
    width: 100%;
    margin-bottom: 2rem;
    min-height: 0; /* Reset min-height for mobile */
  }

  .footerRow {
    flex-direction: column;
  }

  .sub {
    width: 100%;
  }
}

.stepsContents {
  color: var(--dark);
}

.stepHeading {
  color: rgb(48, 56, 70);
  font-weight: bold;
}
