.graph-container {
  display: flex;
  width: 100%;
  height: 100%;
  /* border: 1px solid #dfe3e8; */
}

.stencil {
  width: 100px;
  position: relative;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.graph-container-stencil {
  width: calc(100% - 180px);
  height: calc(100vh - 160px);
  margin:0 8px;
  flex:1;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.graph-container-readonly{
  flex-grow: 1;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.app-minimap {
  width: 200px;
  height: 150px;
  margin-top: -10px;
}

.graph-icon-hide{
  width: 13px;
  height: 13px;
}
.x6-widget-stencil  {
  background-color: #fff;
}
.x6-widget-stencil-title {
  background-color: #fff;
}
.x6-widget-stencil-group-title {
  background-color: #fff !important;
}
.x6-widget-transform {
  margin: -1px 0 0 -1px;
  padding: 0px;
  border: 1px solid #239edd;
}
.x6-widget-transform > div {
  border: 1px solid #239edd;
}
.x6-widget-transform > div:hover {
  background-color: #3dafe4;
}
.x6-widget-transform-active-handle {
  background-color: #3dafe4;
}
.x6-widget-transform-resize {
  border-radius: 0;
}
.x6-widget-selection-inner {
  border: 1px solid #239edd;
}
.x6-widget-selection-box {
  opacity: 0;
}