.notification__filters_count {
  display: flex;
  justify-content: right;
  color: var(--primary);
  background: none;
  font-weight: 600;
}

/* User Details model */
.userManagement_tiny-description {
  margin-top: 30px;
}

.userManagement_tiny-description * {
  padding: 2px 4px !important;
}

.userManagement_tiny-description .ant-descriptions-item-label {
  width: 200px;
  font-weight: 500;
}

.editUser__modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(246, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  border: 1px solid var(--primary);
}

.editUser__modal-overlay-content {
  color: var(--danger);
  font-size: 18px;
  padding: 50px;
  text-align: center;
  font-weight: 600;
}

.userManagementTable__hidden_actions > *:hover {
  background-color: var(--secondary-light);
}

.userManagementTable__hidden_actions > * {
  padding: 5px;
}