**/logs
**/node_modules
.env
*.DS_Store
**/bower_components
**/build
**/mysql-data*
**/vscode
**/server/scripts
sequelize-data.json
docs/~$tombolo.pptx
Auth-Service/
gitClones/**
!gitClones/.gitkeep
.vscode
.prettierignore 
docker-compose.yml
dev/
https/**
cert.pem
key.pem
certs/*.pem
certs/*.crt