.graph-container {
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.stencil {
  width: 100px;
  position: relative;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.graph-container-stencil {
  position: relative;
  width: calc(100% - 180px);
  height: 100%;
  margin:0 8px;
  flex:1;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.graph-container-readonly{
  flex-grow: 1;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.graph-legend {
  background-color: rgb(255, 255, 255);
  padding: 10px;  
  min-width: 700px;
}

.graph-version-item>.x6-menu-item-button {
  height: 44px;
}

.graph-version-item .x6-menu-item-text {
  padding-right: 15px;
}
.graph-version-item .ant-divider-vertical {
  margin: 0;
}

.legend-icon{
  padding: 1px;
  margin-left: -3px;
}

.ant-typography kbd{
  color:#000;
}

.x6-dropdown{
  max-height: fit-content !important;
  overflow-y: auto  !important;
}

.app-minimap {
  width: 200px;
  height: 150px;
  margin-top: -10px;
}

.graph-icon-hide{
  width: 13px;
  height: 13px;
}
.x6-widget-stencil  {
  background-color: #fff;
}
.x6-widget-stencil-title {
  background-color: #fff;
}
.x6-widget-stencil-group-title {
  background-color: #fff !important;
}
.x6-widget-transform {
  margin: -1px 0 0 -1px;
  padding: 0px;
  border: 1px solid #239edd;
}
.x6-widget-transform > div {
  border: 1px solid #239edd;
}
.x6-widget-transform > div:hover {
  background-color: #3dafe4;
}
.x6-widget-transform-active-handle {
  background-color: #3dafe4;
}
.x6-widget-transform-resize {
  border-radius: 0;
}
.x6-widget-selection-inner {
  border: 1px solid #239edd;
}
.x6-widget-selection-box {
  opacity: 0;
}