.my-account {
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
  border: 0.1rem solid var(--secondary-light);
  min-height: 80vh;
  border-radius: 0.5rem;
}

.edit-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}