.directoryMonitoringTable__hidden_actions {
  display: flex;
  flex-direction: column;
  color: var(--primary);
  cursor: pointer;
}

.directoryMonitoringTable__hidden_actions > * {
  padding: 5px;
}

.directoryMonitoringTable__hidden_actions > *:hover {
  background-color: var(--secondary-light);
}

.modal-card {
  border: 1px solid #dadada;
}

.modal-card .erroneousScheduling {
  color: #ff4d4f;
  text-align: center;
}

.modal-card-2 {
  margin-top: 5px;
  border: 1px solid #dadada;
}