<!DOCTYPE html>
<html>

<head>
  <style>
    .main_body {
      width: 100%;
      border-bottom: 1px solid #f0f0f0 !important;
    }

    .section-footer-td {
      color: #808080;
    }

    .section-header-td {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  </style>
</head>

<body>
  <table class="main_body">
    <tbody>
      <tr>
        <td>
          <table>
            <tbody>
              <tr>
                <td>
                  Hello,
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  Your account for Tombolo will be deleted in <strong><%= typeof daysToExpiry !== 'undefined' ? daysToExpiry : 'undefined' %></strong> day(s) on <strong><%= typeof expiryDate !== 'undefined' ? expiryDate : '' %></strong>. Please login to avoid having your account deleted. 
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  <table>
                    <tr>
                      <td>
                        Tombolo Link: <a href=<%= typeof accountUnlockLink !== 'undefined' ? accountUnlockLink : '' %>><%= typeof accountUnlockLink !== 'undefined' ? accountUnlockLink : '' %></a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  <div>Regards,</div>
                  <div>Tombolo</div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>