<!DOCTYPE html>
<html>

<head>
  <style>
    .main_body {
      width: 100%;
      border-bottom: 1px solid #f0f0f0 !important;
    }

    .section-footer-td {
      color: #808080;
    }

    .section-header-td {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  </style>
</head>

<body>
  <table class="main_body">
    <tbody>
      <tr>
        <td>
          <table>
            <tbody>
              <tr>
                <td>
                  Hello,
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                 A user whose account has been deleted is requesting their account be restored. Details of the user are as follows:
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  <table>
                    <tr>
                      <td>
                        User email: <%= typeof userEmail !== 'undefined' ? userEmail : '' %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                    Please follow the link below to the user management page to restore the user's account. 
                    <br/><br/>
                    <a href=<%= typeof accountUnlockLink !== 'undefined' ? accountUnlockLink : '' %>><%= typeof accountUnlockLink !== 'undefined' ? accountUnlockLink : '' %></a>
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  <div>Regards,</div>
                  <div>Tombolo</div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>