<!DOCTYPE html>
<html>

<head>
  <style>
    .main_body {
      width: 100%;
      border-bottom: 1px solid lightgray !important;
    }

    .section-footer-td {
      color: #808080;
      border-top: 1px solid #808080;
    }

    .section-header-td {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .list {
      padding: 10px;
    }

    .tabbedText {
      padding-left: 40px;
    }

    .bold-text {
      font-weight: bold;
    }

    .important-text {
      color: #FF0000;
    }
  </style>
</head>

<table class="main_body">
  <tbody>
    <tr>
      <td>
        <table>
          <tbody>
            <tr>
              <td class="section-header-td">
                <div>
                  Hello,
                </div>
                <div>
                  An account has been created for you on <span class="bold-text">Tombolo</span>. To finalize your registration, please follow the registration link and update your temporary password.
                </div>
              </td>
            </tr>


            <tr>
              <td class="section-header-td">
                <div class="tabbedText"> <span class="bold-text">Registration Link: </span><a href=<%= typeof registrationLink !== 'undefined' ? registrationLink : ""  %>><%= typeof registrationLink !== 'undefined' ? registrationLink : ""  %></a> </div>
                <div class="tabbedText"> <span class="bold-text">Temporary Password: </span> <%= typeof tempPassword !== 'undefined' ? tempPassword : ""  %> </div>
              </td>
            </tr>


            <tr>
              <td>
                <p>
                  <span class="important-text">Please take action within the next <%= typeof validForHours !== 'undefined' ? validForHours: "" %> hours.</span> If this email was unexpected, you can safely disregard it.
                </p>
              </td>
            </tr>

            <tr>
              <td class="section-header-td">
                <p> We look forward to having you on board! </p>
              </td>
            </tr>



            <tr>
              <td class="section-header-td">
                <div>
                  Best Regards,
                </div>
                <div>
                  Tombolo
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

</html>