<!DOCTYPE html>
<html>

<head>
  <style>
    .main_body {
      width: 100%
    }

    .section-footer-td {
      color: #808080;
      border-top: 1px solid #808080;
    }

    .section-header-td {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .issue {
      color: #FF0000
    }

    .list {
      padding: 10px;
    }
  </style>
</head>

<table class="main_body">
  <tbody>
    <tr>
      <td>
        <table>
          <tbody>
            <tr>
              <td>
                Hello,
              </td>
            </tr>
            <tr>
              <td class="section-header-td">
                <% if (typeof issue !== 'undefined') { %>
                <span class="issue"><%= issue %></span>
                <% } %>
              </td>

            </tr>
            <tr>
              <td class="section-header-td">
                <%= typeof consequence !== 'undefined' ? consequence : ""  %>
              </td>
            </tr>

            <tr>
              <td class="section-header-td">
                <%= typeof remedy !== 'undefined' ? remedy : ""  %>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td class="section-footer-td">
                This alert is sent by Tombolo because you are listed as administrator for one of the cluster. To stop receiving these alerts, please remove yourself from the administrator list.
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

</html>