<!DOCTYPE html>
<html>

<head>
  <style>
    .main_body {
      width: 100%;
      border-bottom: 1px solid #f0f0f0 !important;
    }

    .section-footer-td {
      color: #808080;
    }

    .section-header-td {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  </style>
</head>

<body>
  <table class="main_body">
    <tbody>
      <tr>
        <td>
          <table>
            <tbody>
              <tr>
                <td>
                  Hello,
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  Your password for Tombolo has expired. You will need to contact your administration team to reset your password and unlock your account. 
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  <table>
                    <tr>
                      <td>
                        Administration team contact emails: <a href=<%= typeof contactEmails !== 'undefined' ? contactEmails : '' %>><%= typeof contactEmails !== 'undefined' ? contactEmails.slice(7) : '' %></a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  <div>Regards,</div>
                  <div>Tombolo</div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>