<!DOCTYPE html>
<html>

<head>
  <style>
    .main_body {
      width: 100%;
      border-bottom: 1px solid #f0f0f0 !important;
    }

    .section-footer-td {
      color: #808080;
    }

    .section-header-td {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  </style>
</head>

<body>
  <table class="main_body">
    <tbody>
      <tr>
        <td>
          <table>
            <tbody>
              <tr>
                <td>
                  Hello,
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  We received a request to reset your password. Please follow the link below to proceed.
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  <table>
                    <tr>
                      <td>
                        <a href=<%= typeof passwordRestLink !== 'undefined' ? passwordRestLink : '' %>><%= typeof passwordRestLink !== 'undefined' ? passwordRestLink : '' %></a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  <div>This link will remain valid for <strong><%= validForHours %> hours</strong>.</div>
                  <div>If you did not request a password reset, please ignore this email.</div>
                </td>
              </tr>
              <tr>
                <td class="section-header-td">
                  <div>Regards,</div>
                  <div>Tombolo</div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>